/* Parallax Effect Styles */
.cv {
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: move;
  margin: 0;
  padding: 0;
}

.cv2 {
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: move;
  margin: 0;
  padding: 0;
}

#test {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

#mouseInfo {
  position: absolute;
  left: 10px;
  top: 3px;
  color: blue;
  background: lightyellow;
  width: 200px;
  height: 30px;
  display: none;
}
