body { --bgc: #e7e1d8; }

.scene {
  width: 100%;
  height: 750px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: var(--bgc);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 55vmin;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 60% * var(--iR));
  aspect-ratio: 1;
  transform: translate(-50%, -50%) scale(var(--s));
  border-radius: 50%;
  background: conic-gradient(var(--g));
  animation: move 25s linear infinite;
  animation-delay: calc(-1.5s * var(--iR));
  will-change: transform;
  filter: contrast(1.2) brightness(1.05);
}

.ring:nth-child(1) {
  transform: translate(-50%, -50%) scale(1);
  width: 180vmax;
  opacity: 0.8;
}

.invert-scale .ring {
  transform: translate(-50%, -50%) scale(calc(var(--s) - var(--iR) / 2));
}

.blur .ring:nth-child(1) {
  filter: blur(25px) contrast(1.2);
}

.show-rings .ring {
  box-shadow: 0 0 0 0.8px rgba(0,0,0,0.7);
}

.show-rings.dark .ring {
  box-shadow: 0 0 0 0.8px rgba(255,255,255,0.8);
}

.labels {
  position: absolute;
  inset: -5%;
}

.labels__label {
  position: absolute;
  height: 50%;
  width: 5%;
  top: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%, -100%) rotate(calc(var(--i) * 360deg));
}

.labels__label::after {
  content: "";
  position: absolute;
  width: 0.6px;
  background: rgba(0,0,0,0.7);
  left: 50%;
  top: 5%;
  bottom: 90%;
  transform: translateX(-50%);
}

.dark .labels__label::after {
  background: rgba(255,255,255,0.8);
}

@keyframes move {
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@media (max-width: 768px) {
  .scene { height: 500px; }
  .inner { width: 75vmin; }
}

@media (max-width: 480px) {
  .scene { height: 400px; }
  .inner { width: 85vmin; }
}
